Explore the eBird API

- https://documenter.getpostman.com/view/664302/S1ENwy59
- https://pypi.org/project/ebird-api/
- https://github.com/ProjectBabbler/ebird-api

In [66]:
from dotenv import load_dotenv
from ebird.api import get_observations
import os
import pandas
import json
from glob import glob
from pathlib import Path
from tqdm import tqdm 

load_dotenv()  # take environment variables from .env.
api_key = os.environ['EBIRD_API']

In [47]:
records = get_observations(api_key, 'L227544', back=7)
records

[{'speciesCode': 'wooduc',
  'comName': 'Wood Duck',
  'sciName': 'Aix sponsa',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 12,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'mallar3',
  'comName': 'Mallard',
  'sciName': 'Anas platyrhynchos',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 4,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'pibgre',
  'comName': 'Pied-billed Grebe',
  'sciName': 'Podilymbus podiceps',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'rocpig',
  'comName': 'Rock Pigeon',
  'sciName': 'Columba livia',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 4,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277',
  'exoticCategory': 'N'},
 {'speciesCode': 'moudov',
  'comName': 'Mourning Dove',
  'sciName': 'Zenaida macroura',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'rthhum',
  'comName': 'Ruby-throated Hummingbird',
  'sciName': 'Archilochus colubris',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 3,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'caster1',
  'comName': 'Caspian Tern',
  'sciName': 'Hydroprogne caspia',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'doccor',
  'comName': 'Double-crested Cormorant',
  'sciName': 'Nannopterum auritum',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 5,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'grbher3',
  'comName': 'Great Blue Heron',
  'sciName': 'Ardea herodias',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 3,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'grnher',
  'comName': 'Green Heron',
  'sciName': 'Butorides virescens',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'turvul',
  'comName': 'Turkey Vulture',
  'sciName': 'Cathartes aura',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'osprey',
  'comName': 'Osprey',
  'sciName': 'Pandion haliaetus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 3,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'baleag',
  'comName': 'Bald Eagle',
  'sciName': 'Haliaeetus leucocephalus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'rethaw',
  'comName': 'Red-tailed Hawk',
  'sciName': 'Buteo jamaicensis',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'belkin1',
  'comName': 'Belted Kingfisher',
  'sciName': 'Megaceryle alcyon',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 3,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'rebwoo',
  'comName': 'Red-bellied Woodpecker',
  'sciName': 'Melanerpes carolinus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'dowwoo',
  'comName': 'Downy Woodpecker',
  'sciName': 'Dryobates pubescens',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 3,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'norfli',
  'comName': 'Northern Flicker',
  'sciName': 'Colaptes auratus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'easpho',
  'comName': 'Eastern Phoebe',
  'sciName': 'Sayornis phoebe',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 4,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'reevir1',
  'comName': 'Red-eyed Vireo',
  'sciName': 'Vireo olivaceus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'blujay',
  'comName': 'Blue Jay',
  'sciName': 'Cyanocitta cristata',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 5,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'amecro',
  'comName': 'American Crow',
  'sciName': 'Corvus brachyrhynchos',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 7,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'bkcchi',
  'comName': 'Black-capped Chickadee',
  'sciName': 'Poecile atricapillus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 9,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'tuftit',
  'comName': 'Tufted Titmouse',
  'sciName': 'Baeolophus bicolor',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'barswa',
  'comName': 'Barn Swallow',
  'sciName': 'Hirundo rustica',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'carwre',
  'comName': 'Carolina Wren',
  'sciName': 'Thryothorus ludovicianus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'grycat',
  'comName': 'Gray Catbird',
  'sciName': 'Dumetella carolinensis',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 10,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'amerob',
  'comName': 'American Robin',
  'sciName': 'Turdus migratorius',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 8,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'cedwax',
  'comName': 'Cedar Waxwing',
  'sciName': 'Bombycilla cedrorum',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 18,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'amegfi',
  'comName': 'American Goldfinch',
  'sciName': 'Spinus tristis',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 8,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'savspa',
  'comName': 'Savannah Sparrow',
  'sciName': 'Passerculus sandwichensis',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 3,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'sonspa',
  'comName': 'Song Sparrow',
  'sciName': 'Melospiza melodia',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 5,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'swaspa',
  'comName': 'Swamp Sparrow',
  'sciName': 'Melospiza georgiana',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'rewbla',
  'comName': 'Red-winged Blackbird',
  'sciName': 'Agelaius phoeniceus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 18,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'bawwar',
  'comName': 'Black-and-white Warbler',
  'sciName': 'Mniotilta varia',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'comyel',
  'comName': 'Common Yellowthroat',
  'sciName': 'Geothlypis trichas',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 4,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'amered',
  'comName': 'American Redstart',
  'sciName': 'Setophaga ruticilla',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'magwar',
  'comName': 'Magnolia Warbler',
  'sciName': 'Setophaga magnolia',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'yelwar',
  'comName': 'Yellow Warbler',
  'sciName': 'Setophaga petechia',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'chswar',
  'comName': 'Chestnut-sided Warbler',
  'sciName': 'Setophaga pensylvanica',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'norcar',
  'comName': 'Northern Cardinal',
  'sciName': 'Cardinalis cardinalis',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 2,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'},
 {'speciesCode': 'robgro',
  'comName': 'Rose-breasted Grosbeak',
  'sciName': 'Pheucticus ludovicianus',
  'locId': 'L227544',
  'locName': 'Woodman Pond',
  'obsDt': '2023-08-27 08:28',
  'howMany': 1,
  'lat': 42.8565252,
  'lng': -75.5714536,
  'obsValid': True,
  'obsReviewed': False,
  'locationPrivate': False,
  'subId': 'S148217277'}]

In [48]:
from ebird.api import get_taxonomy, get_taxonomy_forms, get_taxonomy_versions

# Get all the species in the eBird taxonomy.
taxonomy = get_taxonomy(api_key)
taxonomy = pandas.DataFrame.from_records(taxonomy)
taxonomy

,sciName,comName,speciesCode,category,taxonOrder,bandingCodes,comNameCodes,sciNameCodes,order,familyCode,familyComName,familySciName,reportAs,extinct,extinctYear
0,Struthio camelus,Common Ostrich,ostric2,species,2.0,[],[COOS],[STCA],Struthioniformes,struth1,Ostriches,Struthionidae,NaN,NaN,NaN
1,Struthio molybdophanes,Somali Ostrich,ostric3,species,7.0,[],[SOOS],[STMO],Struthioniformes,struth1,Ostriches,Struthionidae,NaN,NaN,NaN
2,Struthio camelus/molybdophanes,Common/Somali Ostrich,y00934,slash,8.0,[],"[SOOS, COOS]","[STCA, STMO]",Struthioniformes,struth1,Ostriches,Struthionidae,NaN,NaN,NaN
3,Rhea americana,Greater Rhea,grerhe1,species,10.0,[],[GRRH],[RHAM],Rheiformes,rheida1,Rheas,Rheidae,NaN,NaN,NaN
4,Rhea pennata,Lesser Rhea,lesrhe2,species,16.0,[],[LERH],[RHPE],Rheiformes,rheida1,Rheas,Rheidae,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16855,Saltator grossus,Slate-colored Grosbeak,slcgro1,species,35127.0,[SCOG],[SCGR],[SAGR],Passeriformes,thraup2,Tanagers and Allies,Thraupidae,NaN,NaN,NaN
16856,Saltator fuliginosus,Black-throated Grosbeak,bltgro2,species,35130.0,[],[BTGR],[SAFU],Passeriformes,thraup2,Tanagers and Allies,Thraupidae,NaN,NaN,NaN
16857,Saltator sp.,saltator sp.,saltat1,spuh,35131.0,[],[],[],Passeriformes,thraup2,Tanagers and Allies,Thraupidae,NaN,NaN,NaN
16858,Passeriformes sp.,passerine sp.,passer1,spuh,35132.0,[],[],[],Passeriformes,NaN,NaN,NaN,NaN,NaN,NaN
16859,Aves sp.,bird sp.,bird1,spuh,35133.0,[UNBI],[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
def load_birdnet_log(path, confidence_threshold: float = 0.25) -> pandas.DataFrame:
    lines = [json.loads(s) for s in open(path)]
    raw = pandas.DataFrame.from_records(lines)

    raw = raw[raw['msg'] == 'success'].copy()
    raw = raw.explode(['results'])
    raw['timestamp'] = pandas.to_datetime(raw['timestamp'])

    raw[['name','confidence']] = pandas.DataFrame(raw.results.tolist(), index=raw.index)
    raw[['species', 'common']] = raw['name'].str.split("_", expand = True)
    raw.drop(columns=['msg', 'results', 'filename', 'oldest', 'name', 'skipped', 'hour_of_day'], inplace=True)
    return raw.query('confidence > @confidence_threshold', engine='python').copy()

In [102]:
def generate_ebird_record(df, path, location):
    species_by_minute = (
        df
        .assign(timestamp=lambda r: r['timestamp'].dt.round('min'))
        .groupby(by=['timestamp', 'common'])
        .agg({'species': 'count', 'confidence': 'max'})
        .reset_index()
        .rename(columns={0: "calls"})
    )
    species_by_minute

    obs = []
    for row in species_by_minute.itertuples():
        row = row._asdict()
        assert row['common'] in list(taxonomy.comName.values)
        
        common = row['common']
        if common =="Willie-wagtail": common = "Willie Wagtail"
        if common == "Eurasian Blackbird": common = "Common Blackbird"
        if "Gray" in common: common = common.replace("Gray", "Grey")

        obs.append([
            common,                                     # Common/scientific Name
            "",                                         # Genus
            "",                                         # Species
            "+",                                        # Species Count
            "",                                         # Species Comments
            location,                                   # Location Name
            "",                                         # latitude
            "",                                         # longitude
            row['timestamp'].strftime('%m/%d/%Y'),      # Observation date
            row['timestamp'].strftime('%H:%M'),         # Start time
            "",                                         # State
            "AU",                                       # Country
            "casual",                                   # Protocol
            "",                                         # Number of observers
            "1",                                        # Duration (minutes)
            "Y",                                        # All observations?
            "",                                         # Distance covered
            "",                                         # Area covered
            f"{row['species']} BirdNET calls; {row['confidence']} confidence", # Comments
        ])

    if len(obs):
        Path(path).parent.mkdir(exist_ok=True)
        with open(path, 'wt') as fp:
            for line in obs:
                fp.write(','.join(line) + '\n')

In [104]:
location = input("What is the observation location?")

In [103]:
import shutil
shutil.rmtree('ebird')
for logpath in tqdm(glob("logs/*")):
    raw = load_birdnet_log(logpath, confidence_threshold=0.5)
    csvpath = logpath.replace("logs/", "ebird/") + ".csv"
    generate_ebird_record(raw, csvpath, location)

100%|██████████| 251/251 [02:36<00:00,  1.60it/s]

In [80]:
raw

,timestamp,confidence,species,common
3957,2023-08-22 05:29:50+10:00,0.6620,Rhipidura leucophrys,Willie-wagtail
4041,2023-08-22 05:36:50+10:00,0.6234,Rhipidura leucophrys,Willie-wagtail
4051,2023-08-22 05:37:40+10:00,0.6312,Rhipidura leucophrys,Willie-wagtail
4062,2023-08-22 05:38:35+10:00,0.6841,Rhipidura leucophrys,Willie-wagtail
4199,2023-08-22 05:50:00+10:00,0.6257,Rhipidura leucophrys,Willie-wagtail
...,...,...,...,...
12561,2023-08-22 17:27:37+10:00,0.7364,Cormobates leucophaea,White-throated Treecreeper
12564,2023-08-22 17:27:52+10:00,0.6372,Pachycephala rufiventris,Rufous Whistler
12591,2023-08-22 17:30:07+10:00,0.7004,Rhipidura leucophrys,Willie-wagtail
12660,2023-08-22 17:35:52+10:00,0.7843,Rhipidura leucophrys,Willie-wagtail
12676,2023-08-22 17:37:12+10:00,0.6832,Entomyzon cyanotis,Blue-faced Honeyeater